.dash {
  background-image: url("https://i.imgur.com/MFGRQdH.png");
  background-position: 50% center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.dashboard_container {
}

.dash::after {
  position: absolute;
  content: "";
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.holla {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);

  width: fit-content;
  padding: 25px;

  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  flex-direction: column;
}

.gggf {
  color: #fff;
  margin-bottom: 20px;
  font-family: "made";
  font-size: 18px;
  font-weight: 300;
}
#password {
  background-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  outline: none;
  border-left-color: transparent;
  border-bottom-color: #fff;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
}

.submit_button {
  padding: 10px;
  background-color: var(--second);
  color: #fff;
  font-size: 16px;
  border: none;
  font-family: "made";
  text-transform: capitalize;
  cursor: pointer;
}
.welcome_message {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 20px; */
  margin: 20px 0;
  gap: 30px;
}
.eq {
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
  color: var(--second);
  font-family: "made";
  font-size: 30px;
  font-weight: 300;
  border-bottom: 1px solid #aba6a6;
  line-height: 100%;
}

.sosa_img {
  width: 250px;
}
.sosa {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  align-items: center;
  justify-content: center;
}

.kollo {
  font-size: 20px;
  font-family: "made";
  width: 30%;
  text-align: center;
  font-weight: 500;
  line-height: 150%;
}
.hga {
  padding: 10px 40px;
  background-color: #fff;
}
.card_container {
  display: flex;
  gap: 10px;
}

.card {
  font-family: "hal";
  list-style: circle;
  font-size: 16px;
  cursor: pointer;
  color: var(--second);
  font-weight: 300;
}
.data_table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.data_table th,
.data_table td {
  border: 1px solid #ddd;
  font-family: "hal";
  font-size: 15px;
  padding: 8px;
  text-align: left;
}

.data_table th {
  color: #fff;
  font-family: "made";
  background-color: #252525;
  font-weight: bold;
  font-weight: 300;
}

.download_button {
  color: #ffff;
  font-family: "made";
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
}

.pdf {
  /* color: #fff!important; */
  /* font-size: 30px; */
}

.spinner-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_button {
  color: red;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .kollo {
    width: 90%;
  }

  .hga {
    padding: 20px 20px;
  }

  .sosa_img {
    width: 150px;
  }

  .card_container {
    flex-direction: column;
  }

  .eq {
    font-size: 20px;
    /* width: 100%; */
    /* overflow: hidden; */
  }

  .data_display {
    overflow-y: scroll;
    width: 100%;
  }
}
